<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840702052282-euc54r283vki891pg64570gu93br3pcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840702052282-euc54r283vki891pg64570gu93br3pcn</string>
	<key>API_KEY</key>
	<string>AIzaSyApjrY4ciLqPtDGyUpZzrEwxGr8On0NJ6U</string>
	<key>GCM_SENDER_ID</key>
	<string>840702052282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp2drety</string>
	<key>PROJECT_ID</key>
	<string>aswan-a22c9</string>
	<key>STORAGE_BUCKET</key>
	<string>aswan-a22c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840702052282:ios:a38f56f6862ed21cf23f83</string>
</dict>
</plist>